@import './variables';

.modal{
    position:fixed;
    z-index: 500;
    background: linear-gradient($clr-primary-1,$clr-primary-2);
    width: 60%;
    border: 1px solid grey;
    border-radius: .9rem;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    transition:all 0.3s ease-out;
    -webkit-box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.68);
}

.loginWrapper{
    width:100%;
    height:55vmin;
    display:flex;
}

.loginLeft{
    flex:1;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding:1.2rem 0;
    align-items:center;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: .9rem;
    border-top-left-radius: .9rem;

    .loginLogo{
        font-size: 1.8rem;
        color:white;
        line-height: 2rem;
        font-weight: 800;
        cursor:pointer;
        text-decoration: none;
        letter-spacing:2px;
        margin-bottom: 1rem;
        text-shadow: 
            -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
            0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
            0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
            0.015em 0.015em mix(#fff, #e91e63, 64%), 
            0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
            0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
            0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
            0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
    }
    .loginDesc{
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.8rem;
        color:white;
        text-align: center;
        letter-spacing:1.1px;
        padding: .5rem;
        text-shadow: 
            -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
            0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
            0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
            0.015em 0.015em mix(#fff, #e91e63, 64%), 
            0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
            0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
            0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
            0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
    }
}


.loginRight {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;

    .loginBox{
        height: 70%;
        padding:.3rem;
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .loginInput{
        height: 2.5rem;
        width:80%;
        border-radius:.5rem;
        border:1px solid grey;
        font-size: 1rem;
        color:grey;
        font-weight: 500;
        box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.68);
    
        &:focus{
            outline: none;
        }
    }
    .loginButton{
        padding: .5rem;
        margin-top:0.5rem;
        width:50%;
        border: 2px solid rgba(47, 53, 88, 0.8);
        background-color: rgba(47, 53, 88, 0.8);
        color:white;
        text-shadow: #4a59ad;
        border-radius:.5rem;
        font-size: 1rem;;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0px 0px 16px -5px rgba(245, 245, 245, 0.5);

        &:hover{
            background-color: white ;
            color:rgba(47, 53, 88, 0.8);
            text-shadow: #5362b4;
            font-weight: 700;
            box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.7);
            transition:background-color 0.3s linear, color 0.5s ease-in-out;
            border: 2px solid rgba(223, 225, 233, 0.781);
        }

        &:disabled{
            opacity:0.7;
        }
    }
}


@media (max-width: 600px) {
  .modal {
    width: 100%;
    
  }
  .loginWrapper{
    height:70vmin;
  }
}