@import './variables';

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: .5rem;

  .pagination {
    display: flex;
    align-items: center;
  }
}

.title {
  margin: 0;
  line-height: 1;
  font-size: 1.6rem;
  text-align: center;

  .count {
  color: $clr-primary-3;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 0.3rem;
  background: $clr-primary-4;
  width: 190px;
  height: 100px;
  text-align: left;
  color: $clr-grey-2;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid $clr-primary-3;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  transform:scale(0.98);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.sort {
  border: none;
  color: $clr-primary-1;
  background-color: inherit;
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
